# Francisco Alonso Fernández.
## Day 3: Toboggan Trajectory.

In [1]:
## Used libraries
import pandas as pd

In [2]:
## Reading the data
forest = pd.read_csv('Challenge3.csv')

In [3]:
for i in range(len(forest.Forest[0])):
    forest[i] = [list(x)[i] for x in forest.Forest]

In [4]:
forest.drop('Forest',axis=1,inplace=True)

In [5]:
forest.head(5)

  0  1  2  3  4  5  6  7  8  9   ... 21 22 23 24 25 26 27 28 29 30
0  .  .  .  .  #  .  .  .  .  .  ...  .  #  .  .  #  #  #  .  #  #
1  .  #  .  .  #  .  .  .  .  #  ...  .  .  .  .  .  #  #  .  .  .
2  .  .  .  .  #  #  #  .  .  .  ...  .  .  .  #  .  #  #  .  .  #
3  .  .  .  .  .  .  .  #  .  .  ...  #  .  .  .  #  #  .  .  .  .
4  .  .  .  .  .  #  .  .  #  .  ...  #  #  .  .  #  .  .  .  #  .

[5 rows x 31 columns]

In [6]:
def calculate_new_position(position):
    solution = (position[0]+1,position[1]+3)
    ## Avoid pattern to the right
    if solution[1] > 30:
        return (solution[0],(solution[1]-1)%10)
    else:
        return solution

## Part 1

In [7]:
initial = (0,0)
count_trees = 0
for i in range(len(forest)):
    if i==0:
        if forest.iloc[initial] == '#':
            count_trees+=1
        position = calculate_new_position(initial)
    else:
        if forest.iloc[position] == '#':
            count_trees+=1
        position = calculate_new_position(position)

In [8]:
count_trees

211

## Part 2

Of course we could do it with more efficiently with just one for loop, but it would be less clear since we would need to declare plenty of variables and increment them in each operation.

In [19]:
def calculate_new_position(position,pattern):
    solution = (position[0]+pattern[0],position[1]+pattern[1])
    ## Avoid pattern to the right
    if solution[1] > 30:
        return (solution[0],(solution[1]-1)%10)
    else:
        return solution

In [20]:
## Patern Right 1, down 1. 
initial = (0,0)
count_trees1 = 0
for i in range(len(forest)):
    if i==0:
        if forest.iloc[initial] == '#':
            count_trees1+=1
        position = calculate_new_position(initial,(1,1))
    else:
        if forest.iloc[position] == '#':
            count_trees1+=1
        position = calculate_new_position(position,(1,1))
count_trees1

67

In [21]:
## Patern Right 3, down 1. 
initial = (0,0)
count_trees2 = 0
for i in range(len(forest)):
    if i==0:
        if forest.iloc[initial] == '#':
            count_trees2+=1
        position = calculate_new_position(initial,(1,3))
    else:
        if forest.iloc[position] == '#':
            count_trees2+=1
        position = calculate_new_position(position,(1,3))
count_trees2

211

In [22]:
## Patern Right 5, down 1. 
initial = (0,0)
count_trees3 = 0
for i in range(len(forest)):
    if i==0:
        if forest.iloc[initial] == '#':
            count_trees3+=1
        position = calculate_new_position(initial,(1,5))
    else:
        if forest.iloc[position] == '#':
            count_trees3+=1
        position = calculate_new_position(position,(1,5))
count_trees3

77

In [23]:
## Patern Right 7, down 1. 
initial = (0,0)
count_trees4 = 0
for i in range(len(forest)):
    if i==0:
        if forest.iloc[initial] == '#':
            count_trees4+=1
        position = calculate_new_position(initial,(1,7))
    else:
        if forest.iloc[position] == '#':
            count_trees4+=1
        position = calculate_new_position(position,(1,7))
count_trees4

89

In [24]:
## Patern Right 1, down 2. 
initial = (0,0)
count_trees5= 0
for i in range(len(forest)):
    if i==0:
        if forest.iloc[initial] == '#':
            count_trees5+=1
        position = calculate_new_position(initial,(2,1))
    else:
        ## Solve the problem that now we are stepping two rows each time
        if i%2==0:
            if forest.iloc[position] == '#':
                count_trees5+=1
            position = calculate_new_position(position,(2,1))
        else:
            pass
count_trees5

37

In [26]:
final_solution = count_trees1 * count_trees2 * count_trees3 * count_trees4 * count_trees5
final_solution

3584591857