# Francisco Alonso Fern√°ndez.
## Day 5: Binary Boarding

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Challenge5.csv')

In [3]:
data.head()

  Boarding_pass
0    FBFFFFBRLL
1    FFBFFFFRLR
2    BFBBFFBRLL
3    FBBBBFFLLR
4    BFFFBFFLRL

In [4]:
def find_seat_row(code):
    initial = list(range(128))
    for x in code[:-4]:
        if x=='F':
            initial = list(range(initial[0],round((initial[-1]+initial[0])/2)))
        if x=='B':
            initial = list(range(round((initial[-1]+initial[0])/2),initial[-1]+1))
    if code[-4]=='F':
        return initial[0]
    if code[-4]=='B':
        return initial[1]

## Same idea
def find_seat_column(code):
    initial = list(range(8))
    for x in code[-3:-1]:
        if x=='L':
            initial = list(range(initial[0],round((initial[-1]+initial[0])/2)))
        if x=='R':
            initial = list(range(round((initial[-1]+initial[0])/2),initial[-1]+1))
    if code[-1]=='L':
        return initial[0]
    if code[-1]=='R':
        return initial[1]

In [5]:
data['Seat_row'] = [find_seat_row(x) for x in data.Boarding_pass]
data['Seat_column'] = [find_seat_column(x) for x in data.Boarding_pass]

In [6]:
data.head()

  Boarding_pass  Seat_row  Seat_column
0    FBFFFFBRLL        33            4
1    FFBFFFFRLR        16            5
2    BFBBFFBRLL        89            4
3    FBBBBFFLLR        60            1
4    BFFFBFFLRL        68            2

In [7]:
## Adding the id according to the formula id = row*8+column
data['Seat_id'] = data.Seat_row*8 + data.Seat_column

In [8]:
data.head()

  Boarding_pass  Seat_row  Seat_column  Seat_id
0    FBFFFFBRLL        33            4      268
1    FFBFFFFRLR        16            5      133
2    BFBBFFBRLL        89            4      716
3    FBBBBFFLLR        60            1      481
4    BFFFBFFLRL        68            2      546

## Part 1

In [9]:
# What is the highest seat ID on a boarding pass?
data['Seat_id'].max()

901

## Part 2

In [10]:
id_list =  data['Seat_id'].tolist()
id_list.sort()

In [11]:
## The idea is to create a new list from the minimun to the maximum of ours and check which
## number of the new list is missing in the original one
def find_missing_number(integer_list): 
    aux =  [x for x in range(integer_list[0], integer_list[-1]+1) if x not in integer_list]
    return aux[0]

In [12]:
find_missing_number(id_list)

661