# Francisco Alonso Fern√°ndez.
## Challenge Day 2: Password Philosophy.

In [38]:
## Used libraries
import pandas as pd
import re

In [39]:
## Reading the data
data = pd.read_csv('Challenge2.csv')

In [40]:
## Showing first elements...
data.head()

                     Original
0                 3-4 j: tjjj
1       7-10 h: nhhhhhgghphhh
2  7-13 j: tpscbbstbdjsjbtcpj
3   4-13 l: ckllmqzlvcsxpplqg
4  3-11 n: nnrhnnnnnnnwsdnnnm

In [41]:
## Creating more useful columns via regexp
data['Policy_min'] = [re.sub(r'(\d+)-(\d+) (\w): (\w+)',r'\1',x) for x in data.Original]
data['Policy_max'] = [re.sub(r'(\d+)-(\d+) (\w): (\w+)',r'\2',x) for x in data.Original]
data['Letter'] = [re.sub(r'(\d+)-(\d+) (\w): (\w+)',r'\3',x) for x in data.Original]
data['Password'] = [re.sub(r'(\d+)-(\d+) (\w): (\w+)',r'\4',x) for x in data.Original]

In [42]:
data.head()

                     Original Policy_min Policy_max Letter            Password
0                 3-4 j: tjjj          3          4      j                tjjj
1       7-10 h: nhhhhhgghphhh          7         10      h       nhhhhhgghphhh
2  7-13 j: tpscbbstbdjsjbtcpj          7         13      j  tpscbbstbdjsjbtcpj
3   4-13 l: ckllmqzlvcsxpplqg          4         13      l   ckllmqzlvcsxpplqg
4  3-11 n: nnrhnnnnnnnwsdnnnm          3         11      n  nnrhnnnnnnnwsdnnnm

In [45]:
## Converting policy's column to numeric
cols = ['Policy_min','Policy_max']
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce')

## Part 1

In [48]:
## Counting rows satisfying the given condition
cont = 0
for index,row in data.iterrows():
    if (row.Policy_min <= row.Password.count(row.Letter) <= row.Policy_max):
        cont+=1
cont

483

## Part 2

In [59]:
## This column could be useful to check if any password is shorter than the policy max
data['string_len'] = [len(x) for x in data.Password]

In [67]:
cont = 0
for index,row in data.iterrows():
    if (row.Password[row.Policy_min - 1] == row.Letter) & (row.Password[row.Policy_max - 1] != row.Letter):
        cont+=1
    if (row.Password[row.Policy_min - 1] != row.Letter) & (row.Password[row.Policy_max - 1] == row.Letter):
        cont+=1
cont

482